{
    "presets": [
        [
            "env",
            {
                "modules": false //默认值是commonjs,webpack会自动转换成es5,所以必须是false
            }
        ],
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy",
        [
            "transform-runtime",
            {
                "polyfill": false
            }
        ],
        //antd按需加载,配合customize-cra插件使用
        [
            "import",
            {
                "libraryName": "antd",
                "style": true // 这里改为true, 它将加载 并 处理我们的 less
            }
        ]
    ]
}
