{
    "presets": [
        [
            "env",
            {
                "modules": false //默认值是commonjs,webpack会自动转换成es5,所以必须是false
            }
        ],
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy",
        [
            "transform-runtime",
            {
                "polyfill": false
            }
        ]
    ]
}