@import './var.less';
.sass-ui-head{
    .head-status{
        text-align: right;
        padding-right: 10px;
        cursor: pointer;
        div{
            >img{
                width: 40px;
                height: 40px;
                margin: 10px;
                border-radius: 50%;
            }
        }
    }
}

    
