@import './var.less';
.dhsass-head-container{
    color: @mainGay;
    background: #40515f;
    .head-status{
        text-align: right;
        padding-right: 10px;
        cursor: pointer;
        div{
            >img{
                width: 40px;
                height: 40px;
                margin: 10px;
                border-radius: 50%;
            }
        }
    }
}
