/*主界面左右布局*/
html,body{
    min-width: 1366px;
    margin: 0 auto;
    height: 100%;
    line-height: 1.5;
}
body>#root{
    width: 100%;
    height: 100%;
    >.sass-ui-container{
        width: 100%;
        height: 100%;
        >.sass-ui-head{
            height: 64px;
            box-shadow:0px 2px 8px 0px rgba(0,0,0,0.1);
        }
        >.sass-ui-content{
            height: calc(100% - 64px);
            width: 100%;
            overflow: hidden;
            &:after,&:before{ 
                display:block;
                height: 0px;
                clear: both;
                visibility: hidden;
                font-size: 0;
                content: "";
            }
            >.sass-ui-left,>.sass-ui-right{
                float: left;
                height: 100%;
                overflow: hidden;
                overflow-y: auto;
                transition: width 0.1s linear;
            }
            //左侧
            >.sass-ui-left{
                //背景色与antd导航保持一致
                // background: #001529; 
                width: 256px;
                //重写导航组件样式
                // .ant-menu-inline{
                //     border: none !important;
                // }
                // .ant-menu-inline .ant-menu-item{
                //     width: 100% !important;
                // }
                // .ant-menu-item-selected{
                //     background: #FFB000 !important;
                // }
                // .ant-menu-item-active > a{
                //     color: #FFB000 !important;
                // }
                // .ant-menu-item-selected,.ant-menu-item-selected > a{
                //     color: #fff !important;
                // }
                // .ant-menu-submenu-active .ant-menu-submenu-title > a {
                //     color: #FFB000 !important;
                // }
                // .ant-menu-submenu-selected .ant-menu-submenu-title > a{
                //     color: #FFB000 !important;
                // }
                //导航a标签
                .ant-menu-submenu-title>a{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }
            >.sass-ui-left.active{
                width: 80px;
            }
            //右侧
            >.sass-ui-right{
                width: calc(100% - 80px);
                background:rgba(245,245,245,1);
            }
            >.sass-ui-right.active{
                width: calc(100% - 256px);
            }
        }
    }
    
}